@model IEnumerable<QLSach.Models.tb_Sach>
@{
    ViewBag.Title = "Home Page";
}


@*AUTOCOMPLETE*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

@*CHART*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="~/Theme/easion/css/easion.css">
<script src="~/Scripts/Chart.bundle.min.js"></script>
<script src="~/Theme/easion/js/chart-js-config.js"></script>


<style>
    a:hover {
        text-decoration: none;
    }
</style>
<div class="ui-widget">
    <label>Tìm kiếm sách :</label>
    <input class="form-control" id="searchInput" />
</div>
<script>
    $("#searchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue","Home")',
                type: "GET",
                dataType: "json",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        //return { label: item.label, value: item.val };
                        return { label: item.label, value: item.label };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
</script>

<br />
<div class="container-fluid">
    <div class="row dash-row">
        <div class="col-xl-4">
            <div class="stats stats-primary">
                <h3 class="stats-title"> Khách hàng </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@ViewBag.SoLuongKH</div>
                        <div class="stats-change">
                            <span class="stats-percentage">+25%</span>
                            <span class="stats-timeframe">so với tháng trước</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-success ">
                <h3 class="stats-title"> Doanh thu </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-cart-arrow-down"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">@ViewBag.DoanhThu Đ</div>
                        <div class="stats-change">
                            <span class="stats-percentage">+17.5%</span>
                            <span class="stats-timeframe">so với năm trước</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="stats stats-danger">
                <h3 class="stats-title"> Hotline : </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">0986651353</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card easion-card">
                <div class="card-header">
                    <div class="easion-card-icon">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="easion-card-title"> Doanh thu theo quý </div>
                    <div class="easion-card-menu">
                        <div class="dropdown show">
                            @*<a class="easion-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="card-body easion-card-body-chart">
                    <canvas id="easionChartjsBar"></canvas>
                    <script>
                        var ctx = document.getElementById("easionChartjsBar").getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ["Quý 1", "Quý 2", "Quý 3", "Quý 4"],
                                datasets: [{
                                    label: 'VNĐ',
                                    data: [@ViewBag.Quy1, @ViewBag.Quy2, @ViewBag.Quy3, @ViewBag.Quy4],
                                    backgroundColor: window.chartColors.primary,
                                    borderColor: 'transparent'
                                }]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card easion-card">
                <div class="card-header">
                    <div class="easion-card-icon">
                        <i class="fas fa-bell"></i>
                    </div>
                    <div class="easion-card-title"> Thông báo </div>
                </div>
                <div class="card-body ">
                    <div class="notifications">
                        <a href="/tb_Sach/Details/CN" class="notification">
                            <div class="notification-icon">
                                <i class="fas fa-inbox"></i>
                            </div>
                            <div class="notification-text">Sách mới </div>
                            <span class="notification-time">2 ngày trước</span>
                        </a>
                        <a href="/tb_Sach/Details/CONAN" class="notification">
                            <div class="notification-icon">
                                <i class="fas fa-inbox"></i>
                            </div>
                            <div class="notification-text">Sách mới</div>
                            <span class="notification-time">2 ngày trước</span>
                        </a>
                        <a href="/tb_Sach/Details/Doraemon" class="notification">
                            <div class="notification-icon">
                                <i class="fas fa-inbox"></i>
                            </div>
                            <div class="notification-text">Sách mới</div>
                            <span class="notification-time">2 ngày trước</span>
                        </a>
                        <div class="notifications-show-all">
                            <a href="/tb_Sach">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>