<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Corporation
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="~/Theme/corporation/layout/styles/layout.css" type="text/css" />
</head>

<body id="top">

    <div class="wrapper col1">
        <div id="head">
            <h1>@Html.ActionLink("BookStore", "Index", "Home")</h1>
            <p>Quản lý cửa hàng sách</p>
            <div id="topnav">
                <ul>
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sách", "Index", "tb_Sach")</li>
                    <li>@Html.ActionLink("Gian hàng", "Index", "tb_GianHang")</li>
                    <li>@Html.ActionLink("Người dùng", "Index", "tb_NguoiDung")</li>
                    <li>@Html.ActionLink("Bảng", "Index", "MasterDetail")</li>
                    @*<li>@Html.ActionLink("Thông tin", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Đăng xuất", "Logout", "Home")</li>
                </ul>
            </div>
            @*<div id="search">
                    <form action="#" method="post">
                        <fieldset>
                            <legend>Site Search</legend>
                            <input type="submit" name="go" id="go" value="GO" />
                            <input type="text" value="Search the site&hellip;" onfocus="this.value=(this.value=='Search the site&hellip;')? '' : this.value ;" />
                        </fieldset>
                    </form>
                </div>*@
        </div>
    </div>
    <div class="wrapper col4">
        <div id="container">
            @RenderBody()
        </div>
    </div>
    <div class="wrapper col5">
        <div id="footer">
            <div id="contactform">
                <h2>Liên hệ với chúng tôi</h2>
                <form action="#" method="post">
                    <fieldset>
                        <legend>Đăng ký</legend>
                        <label for="fullname">
                            Tên:
                            <input id="fullname" name="fullname" type="text" value="" />
                        </label>
                        <label for="emailaddress" class="margin">
                            Email:
                            <input id="emailaddress" name="emailaddress" type="text" value="" />
                        </label>
                        <label for="phone">
                            Số điện thoại:
                            <input id="phone" name="phone" type="text" value="" />
                        </label>
                        <label for="subject" class="margin">
                            Công việc:
                            <input id="subject" name="subject" type="text" value="" />
                        </label>
                        <label for="message">
                            Ghi chú:<br />
                            <textarea id="message" name="message" cols="40" rows="4"></textarea>
                        </label>
                        <p>
                            <input id="submitform" name="submitform" type="submit" value="Đăng ký" />
                            &nbsp;
                            <input id="resetform" name="resetform" type="reset" value="Nhập lại" />
                        </p>
                    </fieldset>
                </form>
            </div>
            <!-- End Contact Form -->
            <div id="compdetails">
                <div id="officialdetails">
                    <h2>Dịch vụ</h2>
                    <ul>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Giới thiệu Book Store</a></li>
                        <li class="last">VAT No. 123</li>
                    </ul>
                    <h2>Knowledge is power !</h2>
                    <p><a href="tel:0987654321">0987654321</a> | <a href="tel:0999999999">0999999999</a></p>
                </div>
                <div id="contactdetails">
                    <h2>Thông tin cửa hàng !</h2>
                    <ul>
                        <li>BookStore</li>
                        <li>235 Hoàng Quốc Việt Hà Nội</li>
                        <li>Tel: <a href="tel:0987654321">0987 654 321</a> <a href="tel:0999999999">0999 999 999</a></li>
                        <li>Fax: xxxxx xxxxxxxxxx</li>
                        <li>Email: info@bookstore.com</li>
                        <li class="last">LinkedIn: <a href="#">BookStore Profile</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!-- End Company Details -->
            <div id="copyright">
                <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Domain Name</a></p>
                <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
                <br class="clear" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>