@model QLSach.Models.tb_Sach

@{
    ViewBag.Title = "Delete";
}

<h2>XÓA</h2>

<h3 style="font-family:Arial">Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Thông tin sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.tieuDe)*@
            Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tieuDe)
        </dd>

        <dt>
            Tác giả
            @*@Html.DisplayNameFor(model => model.tacGia)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tacGia)
        </dd>

        <dt>
            Năm xuất bản:
            @*@Html.DisplayNameFor(model => model.namXuatBan)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namXuatBan)
        </dd>

        <dt>
            Giá bìa:
            @*@Html.DisplayNameFor(model => model.giaBia)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaBia)
        </dd>

        <dt>
            Số lượng tồn:
            @*@Html.DisplayNameFor(model => model.soLuongTon)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongTon)
        </dd>

        <dt>
            Tên gian hàng:
            @*@Html.DisplayNameFor(model => model.tb_GianHang.tenGianHang)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_GianHang.tenGianHang)
        </dd>

        <dt>
            Nhà xuất bản:
            @*@Html.DisplayNameFor(model => model.tb_NXB.tenNXB)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_NXB.tenNXB)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
