@model QLSach.Models.tb_Sach

@{
    ViewBag.Title = "Details";
}

<h2>THÔNG TIN</h2>

<div>
    <h4>Thông tin sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.tieuDe)*@
            Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tieuDe)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tacGia)*@
            Tác giả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tacGia)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.namXuatBan)*@
            Năm xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namXuatBan)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.giaBia)*@
            Giá bìa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaBia)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.soLuongTon)*@
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongTon)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tb_GianHang.tenGianHang)*@
            Tên gian hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_GianHang.tenGianHang)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tb_NXB.tenNXB)*@
            Tên nhà xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_NXB.tenNXB)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tb_NXB.tenNXB)*@
            Mô tả
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.moTa)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.maSach }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
