@model PagedList.IPagedList<QLSach.Models.tb_Sach>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Theme/corporation/layout/styles/css-tu-tao.css" type="text/css" />
<style>
    .sapxep {
        background-color: #009879 !important;
        color: #fff !important;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Thông tin sách</h2>

@using (Html.BeginForm())
{
    <p>
        Tìm kiếm: @Html.TextBox("SearchString")
        <input type="submit" value="Tìm kiếm" />
    </p>
}

<p>
    @Html.ActionLink("Thêm sách", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.tieuDe)*@
                <div style="display:flex">
                    <div>
                        @Html.ActionLink("Mã sách", "Index", new { sortOrder = ViewBag.MaSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "sapxep" })
                    </div>
                    <div style="margin-left:10px">
                        @if (ViewBag.MaSortParm == null || ViewBag.MaSortParm == "ma")
                        {
                            <i class="fa fa-sort-asc" style="font-size:24px"></i>
                        }
                        else
                        {
                            <i class="fa fa-sort-desc" style="font-size:24px"></i>
                        }
                    </div>
                </div>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tieuDe)*@
                <div style="display:flex">
                    <div>
                        @Html.ActionLink("Tiêu đề", "Index", new { sortOrder = ViewBag.TenSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "sapxep" })
                    </div>
                    <div style="margin-left:10px">
                        @if (ViewBag.TenSortParm == null || ViewBag.TenSortParm == "ten")
                        {
                            <i class="fa fa-sort-asc" style="font-size:24px"></i>
                        }
                        else
                        {
                            <i class="fa fa-sort-desc" style="font-size:24px"></i>
                        }
                    </div>
                </div>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tacGia)*@
                Tác giả
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.namXuatBan)*@
                Năm xuất bản
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.giaBia)*@
                Giá bán
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.soLuongTon)*@
                <div style="display:flex">
                    <div>
                        @Html.ActionLink("Số lượng tồn", "Index", new { sortOrder = ViewBag.SoLuongSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "sapxep" })
                    </div>
                    <div style="margin-left:10px">
                        @if (ViewBag.SoLuongSortParm == null || ViewBag.SoLuongSortParm == "soluong")
                        {
                            <i class="fa fa-sort-asc" style="font-size:24px"></i>
                        }
                        else
                        {
                            <i class="fa fa-sort-desc" style="font-size:24px"></i>
                        }
                    </div>
                </div>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tb_GianHang.tenGianHang)*@
                Tên gian hàng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tb_NXB.tenNXB)*@
                Nhà xuất bản
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tb_NXB.tenNXB)*@
                Ảnh
            </th>

            <th><center>Thao tác</center></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.namXuatBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giaBia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_GianHang.tenGianHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_NXB.tenNXB)
            </td>
            <td>
                <img src="~/Anh/@item.anh" width="60px" />
            </td>
      
            <td>
                <center>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.maSach }, new { @class = "btn btn--border btn--primary btn--animated" })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.maSach }, new { @class = "btn btn--border btn--primary btn--animated" })
                    @Html.ActionLink("Xóa", "Delete", new { id = item.maSach }, new { @class = "btn btn--border btn--primary btn--animated" })
                </center>
            </td>
        </tr>
        }
    </tbody>

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))