@model IEnumerable<QLSach.Models.tb_NguoiDung>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaiKhoan }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaiKhoan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaiKhoan })
        </td>
    </tr>
}

</table>
